{% if items_in_queue %}
    <ul>
    {% for item in items_in_queue %}
        <li><a href="/downloader/{{ item.id }}/">{{ item.url }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No items are available.</p>
{% endif %}

<h1>Submit a URL to Scrape</h1>
<form action="download/" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
    <input type="submit" value="submit">
</form>